header {
    width: 300px; 
    height: 200px; 
    background-color: green;
}

section {
    width: 300px; 
    height: 200px; 
    background-color: red;
}

.about-me {
    width: 300px;
    height: 100px;
    background-color: blue;
}

/* QUIZ 1 */

#quiz-1 {
    background-color: lightcoral;
}

.circle {
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 50%;
    /* she used border-radius 50px, which is the same as 50% b/c the div is 100x100 */
    background-color: lightseagreen;
}